* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: rgb(240, 229, 216);
    height: 100%;
}

header {
    text-align: center;
    color: rgb(83, 4, 4);
    margin: 25px 0px;
}

h1 {
    margin-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgb(94, 92, 199);
    border-radius: 50px;
    width: 300px;
    padding: 60px;
    border: 2px solid black;
}

#display {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 15px 0px 15px;
    background: rgb(243, 240, 240);
    font-size: 24px;
    text-overflow: clip;
    min-height: 50px;
    width: 100%;
    word-break: break-all;
    border: 5px solid rgb(15, 14, 14);
    border-radius: 15px;
    margin-bottom: 30px;
}

#equation {
    position: relative;
    top: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

#numbers, #modifiers, #operations{
    display: flex;
    gap: 5px;
}

#numbers {
    background: rgb(169 153 79 / 39%);
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    gap: 10px;
    border: 3px solid rgb(37, 36, 36);
}

#functional-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 3px solid rgb(37, 36, 36);
    padding: 10px;
    margin: 15px 0px 25px 0px;
    border-radius: 20px;
    background: rgb(169 153 79 / 39%);
}

#numbers input {
    height: 70px;
    width: 70px;
}

input {
    border-radius: 15px;
    border: 3px solid rgb(102, 92, 92);
    background: rgb(218, 209, 209);
    padding: 5px;
    height: 60px;
    width: 60px;
    font-size: 24px;
}

input:hover {
    cursor: pointer;
    border: 1px solid rgb(80, 79, 79);
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
    border: 1px solid #000000;
    color: #353638;
}

input[type="submit"] {
    width: 200px;
    font-size: 28px;
}

#numbers, #modifiers, #operations, #calculate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 620px) {

    form {
        width: 250px;
        margin: 0;
        gap: 0px;
        margin-bottom: 50px;
    }

    #numbers input {
        height: 65px;
        width: 70px;
    }

    #numbers {
        gap: 13px;
    }

    input {
        height: 50px;
        width: 50px;
    }

    #equation {
        top: 25px;
    }
}
